*.o
*.lo
*.la
*.so
*.a
sqlite3
*.tar.gz
Makefile
config.*
autom4te.cache/
Makefile.fallback
Makefile.in
Makefile.msc
README.txt
Replace.cs
VERSION
auto.def
autosetup/
configure
sqlite3.1
sqlite3.pc
sqlite3.pc.in
sqlite3.rc
sqlite3ext.h
sqlite3rc.h
sqlite_cfg.h
tea/
